* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
h4 {
    margin: 0;
}

.h2 {
    text-transform: uppercase;
    color: #fff;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
}

.textRed {
    color: red;
}

.textNote {
    font-size: 10px;
    color: grey;
}

.textBold {
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
}

.btnSearch {
    color: red;
    background-color: #ffffff;
    padding: 6px 30px;
    font-size: 14px;
}
.btnSearchPrimary {
    color: #ffffff;
    background-color: red;
}

.btnFilter {
    background-color: transparent;
    margin-right: 15px;
    color: #353535;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: bold;
}

.btnFilterPrimary {
    color: red;
}

.resultsOptionsWrapper {
    padding: 15px 55px;
    background-color: #d1d1d1;
}

.resultsOptions {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    padding: 10px 55px 25px;
    background-color: #353535;
}

.item {
    display: inline-block;
    margin: 5px;
    width: 140px;
}

.itemImg {
    display: block;
    width: 140px;
    height: 200px;
    background-color: grey;
    margin: 0 0 10px;
}

.searchFormInput {
    position: relative;
    height: 30px;
    background-color: grey;
    border: 1px solid grey;
    border-bottom: 1px solid red;
    width: 100%;
    outline: none;
    color: #fff;
    padding-left: 15px;
    opacity: 0.5;
}

.searchFormArrow {}

.searchFormfilter {
    display: flex;
    align-items: center;
}

.searchFormActions {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0;
}

.searchFormLabel {
    display: inline-block;
    padding-right: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

.searchHeader {
    display: flex;
    justify-content: space-between;
}

.itemCaptionWrap {
    padding: 0 5px;
}

.itemCaption {
    display: flex;
    justify-content: space-between;
}

.itemTitleYear {
    border: 1px solid grey;
}

.resultsFilter {
    display: flex;
    justify-content: center;
}

.resultsFilterText {
    margin-right: 15px;
}