#container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-red {
    color: red;
}

html {
    font-size: 100%;
}
h4 {
    margin: 0;
}

.h2 {
    text-transform: uppercase;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
}

.btn-search {
    background-color: red;
    padding: 6px 30px;
    font-size: 14px;
}

.btn-filter {
    background-color: grey;
    margin-right: 15px;
}

.results-options-wrapper {
    padding: 15px 55px;
    background-color: #d1d1d1;
}

.results-options {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    padding: 10px 55px 25px;
    background-color: #353535;
}
